[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-adk = "*"
litellm = "*"
mem0ai = "*"
python-dotenv = "*"
faiss-cpu = "*"
agno = "*"
numpy = "*"
mistralai = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
